:root {
  --primary-dark: #f5651d;
}

/*F57C00*/
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

a {
  color: var(--primary-dark);
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid;
}

.navbar {
  width: 100%;
  height: 5%;
  background-color: var(--primary-dark);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

p {
  color: #404040;
}

.logo {
  font-weight: 900;
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.right-container {
  margin-left: auto;
  width: auto;
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.right-text,
span {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #f1f1f1;
  /* margin-top:1rem; */
  /* padding-top:1rem; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 2px solid #f1f1f1;
}

.user-dropdown-content a {
  display: block;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 12px 16px;
}

.user-dropdown:hover .user-dropdown-content {
  display: block;
}

.main {
  display: flex;
  background-color: #f7f7f7;
  flex-direction: column;
  padding-bottom: 4rem;
}

.intro-container {
  text-align: center;
  /* background-color: #FF9800; */
  background: linear-gradient(to bottom, #ff9800 60%, #f7f7f7 40%);
  padding: 5rem;
  height: 100vh;
}

.intro {
  margin: 4rem;
}

.intro h1 {
  font-size: 4rem;
  font-weight: 900;
  border-bottom: 8px dashed;
  width: fit-content;
  padding-bottom: 3px;
  margin: 0 auto;
  color: whitesmoke;
}

.intro h2 {
  font-size: 1.5rem;
  font-weight: 400;
  /* color:#3b3b3b; */
  color: white;
}

.intro-content {
  padding: 3rem;
  color: #3b3b3b;
  font-weight: 300;
  font-size: 1.2rem;
  width: 50%;
  margin: 1rem auto;
  background-color: white;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.intro-content h2 {
  color: #3b3b3b;
  font-weight: 900;
  font-size: 2.5rem;
  border-bottom: 6px solid;
  width: fit-content;
  padding-bottom: 5px;
  margin: 0 auto;
}

.intro-content-text {
  width: 85%;
  margin: 3rem auto;
}

.intro-content-text p {
  margin: 1.5rem 0;
}

img {
  height: 5rem;
  width: 5rem;
  /* padding:1rem; */
}

.stack {
  /* display: flex;
  flex-wrap: nowrap; */
  /* width:60%; */
  /* margin: 0 auto!important; */
}

.features-container {
  text-align: center;
  /* background-color: #FF9800; */
  background: linear-gradient(to bottom, #ff9800 50%, #f7f7f7 50%);
  padding: 5rem;
  height: 100vh;
}

.features-content {
  padding: 3rem;
  color: #3b3b3b;
  font-weight: 300;
  font-size: 1.2rem;
  width: 50%;
  margin: 1rem auto;
  background-color: white;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.features-content h2 {
  color: #3b3b3b;
  font-weight: 900;
  font-size: 2.5rem;
  border-bottom: 6px solid;
  width: fit-content;
  padding-bottom: 5px;
  margin: 0 auto;
}

.features-content-text {
  width: 85%;
  margin: 3rem auto;
}

.features-content-text p {
  margin: 1.5rem 0;
}

.feature-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
}

.feature-card {
  padding: 1rem;
  margin: 1rem 1rem;
  width: 25%;
  flex-grow: 1;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #f7f7f7;
  background: white;
}

.feature-card h3 {
  color: #3b3b3b;
  font-weight: 600;
  font-size: 1.5rem;
  border-bottom: 2px solid;
  width: fit-content;
  padding-bottom: 5px;
  margin: 0 auto;
}
.feature-card p {
  font-weight: 300;
  font-size: 1rem;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-dark);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-style {
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #ff9800;
  height: 80vh;
}

.card {
  background-color: white;
  padding: 0.5rem 2rem;
  margin: auto;
  text-align: center;
  width: 20%;
  height: fit-content;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  border: 2px solid whitesmoke;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.card span {
  color: #3b3b3b;
}
.card h1 {
  font-size: 2rem;
  font-weight: 900;
  border-bottom: 5px solid #3b3b3b;
  color: #3b3b3b;
  width: fit-content;
  margin: 2rem auto;
}

.input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1.8rem auto;
}

.input-icon {
  padding: 1rem;
  background-color: #ff9800;
  color: white;
  font-size: 1.5rem;
}
.card input {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 0 1.3rem;
  outline: none;
}

.card input::placeholder {
  font-size: 1.5rem;
  font-weight: 300;
}

.card input:focus {
  border: 2px solid #ff9800;
}

.submit {
  background-color: var(--primary-dark);
  border: 2px solid var(--primary-dark);
  border-radius: 15px;
  color: white;
  padding: 1.3rem;
  width: 100%;
  font-weight: 500 !important;
  font-size: 1.5rem !important;
  cursor: pointer;
  opacity: 0.9;
}

.submit:hover {
  opacity: 1;
}

.submit:focus {
  outline: none;
}

.errorBox {
  border: 2px solid #db5353;
  background-color: #ffcccb;
  border-radius: 15px;
  color: red;
  padding: 2rem 0.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  display: none;
}

.successBox {
  border: 2px solid green;
  background-color: lightgreen;
  border-radius: 15px;
  color: green;
  padding: 2rem 0.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  display: none;
}

.container-main {
  display: flex;
  flex-direction: column;
  background-color: #ff9800;
  height: 100%;
}

.card-dashboard,
.card-latest-posts {
  background-color: white;
  padding: 3rem;
  margin: 3rem auto;
  text-align: center;
  width: 50%;
  height: fit-content;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  border: 2px solid whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card-dashboard h1 {
  font-size: 2rem;
  font-weight: 900;
  border-bottom: 5px solid #3b3b3b;
  color: #3b3b3b;
  width: fit-content;
  margin: 2rem auto;
}

.card-dashboard p {
  width: 80%;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 1rem;
  font-weight: 300;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.dashboard-linkcard {
  text-align: center;
  padding: 1rem;
  margin: 1rem 1rem;
  margin-bottom: 2.5rem;
  width: 25%;
  flex-grow: 1;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #f7f7f7;
  background: white;
  border-radius: 10px;
}

.dashboard-linkcard h2 {
  font-size: 1.5rem;
  font-weight: 900;
  /* border-bottom:3px solid #3b3b3b; */
  color: #3b3b3b;
  width: fit-content;
  margin: 1rem auto;
  /* margin: 2rem auto; */
}

.dashboard-linkcard a {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid #f57c00;
  border-radius: 10px;
  color: #3b3b3b;
  /* width: fit-content; */
  /* margin: 2rem auto; */
  padding: 1rem;
  margin: 2rem auto;
  background-color: var(--primary-dark);
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  width: 70%;
  opacity: 0.9;
}

.dashboard-linkcard a:hover {
  opacity: 1;
}

.profile-card {
  background-color: white;
  padding: 2rem;
  margin: 2rem auto;
  text-align: center;
  width: 60%;
  height: fit-content;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  border: 2px solid whitesmoke;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.profile-card h1 {
  font-size: 2rem;
  font-weight: 900;
  border-bottom: 5px solid #3b3b3b;
  color: #3b3b3b;
  width: fit-content;
  margin: 2rem auto;
}

.profile-container {
  text-align: center;
  /* background-color: #FF9800; */
  background: #ff9800;
  padding: 5rem;
  height: fit-content;
}

.profile-data {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  color: #3b3b3b;
}

.profile-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.profile-item-title {
  padding: 1rem;
  margin: 1rem;
  color: white;
  background-color: var(--primary-dark);
  opacity: 0.9;
  max-width: 20%;
  flex-grow: 1;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  border: 1px solid var(--primary-dark);
  border-radius: 5px;
  max-height: 2rem;
}

.profile-item-content {
  color: #3b3b3b;
  padding: 1rem;
  margin: 1rem;
  flex-grow: 1;
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 60%;
  resize: none;
}

.profile-item-content:focus {
  outline: 2px solid #ff9800;
}

textarea {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  font-family: "Inter" !important;
}

.profile-edit {
  padding: 1.5rem;
  margin: 2rem auto;
  color: white;
  background-color: var(--primary-dark);
  opacity: 0.9;
  max-width: 40%;
  flex-grow: 1;
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: capitalize;
  border: 1px solid var(--primary-dark);
  border-radius: 15px;
}

.profile-edit button {
  color: white;
  text-decoration: none;
}

.profile-edit:hover {
  opacity: 1;
}

.hide {
  display: none;
}

.profile-edit-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 3rem auto;
  width: 85%;
}

.count {
  font-weight: 300 !important;
  font-size: 1.3rem;
  margin: 1rem;
  margin-bottom: 0;
}
.about-container {
  display: none;
  flex-direction: column;
  flex-grow: 1;
}

.flexbox {
  display: flex;
}

.width100 {
  max-width: 100%;
  color: #3b3b3b;
  padding: 1rem;
  margin: 1rem;
  flex-grow: 1;
  font-size: 1.2rem;
  font-weight: 400;
  resize: none;
}

.posts-container {
  min-height: 100vh;
  background-color: #ff9800;
  color: white;
  margin: 0;
  padding: 5rem;
}

.posts-container h1 {
  font-weight: 900;
  font-size: 3rem;
  border-bottom: 5px solid white;
  width: fit-content;
  margin: 2rem auto;
}

.post {
  background-color: white;
  padding: 2rem;
  margin: 2rem auto;
  width: 50%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  border-radius: 8px;
}

.post h2 {
  font-weight: 700;
  font-size: 2.4rem;
  margin: 1rem 0;
  color: #3b3b3b;
}

.post h2:hover {
  color: #f57c00;
  border-bottom: 5px solid #f57c00;
  width: fit-content;
  cursor: pointer;
}
.post p {
  font-weight: 400;
  font-size: 1.4rem;
  color: grey;
}

.post button {
  padding:1rem 2rem;
  margin:1rem 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  color:white;
  background-color: #f57c00;
  border: 2px solid #f57c00;
  border-radius:10px;
  opacity: 0.9;
}

.post button:hover {
  opacity: 1;
  cursor:pointer;
}

.createpost-container {
  min-height: 100vh;
  background-color: #ff9800;
  color: #3b3b3b;
  margin: 0;
  padding: 5rem;
}

.createpost {
  background-color: white;
  padding: 2rem;
  margin: 2rem auto;
  width: 60%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  border-radius: 8px;
}

.createpost-content {
  margin:0 auto;
  width:80%;
  text-align: center;
}

.createpost input, textarea {
  min-width:100%;
  max-width:100%;

  padding:  0.8rem 0.5rem;
  margin: 1.5rem auto;
  color:#3b3b3b!important;
  outline:#ff9800;
}

.createpost input {
  font-size: 2.5rem;
  font-weight: 900;
  /* padding:0.5rem 1rem; */
}
.createpost h1 {
  font-size: 3rem;
  font-weight: 900;
  /* padding:0.5rem 1rem; */
  color:#3b3b3b;
  border-bottom: 10px solid #3b3b3b;
  width: fit-content ;
  margin: 3rem auto;
}

.createpost textarea {
  font-size:1.5rem!important;
  font-family: 'Inter'!important;
  font-weight: 300!important;
  resize: none;
  margin-top: 1rem!important;
}

.createpost button {
  width:60%;
  margin: 2rem auto;
  padding:1rem;
  color:white;
  background-color: var(--primary-dark);
  border: 2px solid var(--primary-dark);
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.5rem;
  cursor:pointer;
  opacity: 0.9;
}

.createpost button:hover {
  opacity:1;
}

.texted-container {
  width:100%;
  min-height: 3rem;
  padding:0.5rem;
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  text-align: center;
}

.texted-symbols {
  border:1px solid lightgrey!important;
  border-radius: unset!important;
  background-color: white!important;
  margin:0!important;
  padding: 1rem!important;
  text-align: center!important;
  /* display: flex;
  flex-grow: 1; */
  width:20%;
  font-size: 1.5rem!important;
  color:#3b3b3b!important;
}

.texted-symbols:hover {
  background-color: #dbdbdb!important;
}

.post-container {
  background:#ff9800;
  min-height: 100vh;
  padding:5rem;
  margin:0 auto;
}

.post-content {
  background-color: white;
  color:#3b3b3b;
  padding:2rem;
  width: 60%;
  margin:0 auto;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  border: solid 2px white;
  border-radius: 5px;
}

.post-content h1 {
  font-weight: 900;
  font-size: 2.5rem;
  border-bottom : 5px solid #3b3b3b;
  width:fit-content;
  margin:2rem auto;
}

.post-content p {
  width:80%;
  margin:0 auto;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}


.subheading {
  width:80%;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size:1.3rem;
  margin-bottom: 3rem;
}

.comment {
  border: 2px solid lightgrey;
  border-radius: 5px;
  width:70%;
  margin: 0 auto;
  padding:1.5rem;
  margin: 1rem auto;
  font-weight: 300;
  /* box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2); */
}

.comment span {
  color: #3b3b3b;
  font-size: 1.2rem;
  font-weight: 600;
  width:80%;
  margin: 0 auto;
  display:block;
}
.comment-buttons {
  width: 80%;
  margin: 1.5rem auto;
  margin-bottom: 0;
}

.comment button {
  padding:0.8rem;
  margin:0.5rem;
  margin-left:none;
  font-weight: 500;
  font-size: 1.2rem;
  color:white;
  background-color: #f57c00;
  border: 2px solid #f57c00;
  border-radius:5px;
  opacity: 0.9;
}

.comment form {
  width:80%;
  margin: 0 auto;
}

.comment textarea {
  resize: none;
}

.comment button:hover {
  opacity: 1;
  cursor:pointer;
}

.addcomment {
  width:75%;
  margin: 3rem auto;
  box-sizing: border-box;

}

.addcomment textarea {
  width: 100%;
  height: 150px;
  padding: 1rem;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  font-size: 16px;
  resize: none;
}

.addcomment button {
  padding:0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  color:white;
  background-color: #f57c00;
  border: 2px solid #f57c00;
  border-radius: 5px;
}

.addcomment h2 {
  font-weight: 600;
  font-size: 1.8rem;
  border-bottom:4px solid #3b3b3b;
  padding-bottom: 0.5rem;
  margin:0;
  width: fit-content;
}


.error-container {
  min-height: 80vh;
  background-color: whitesmoke;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
}
.error {
  padding:3rem;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:auto;
  margin-top:auto;
  width:40%;
  background-color: white;
  border: 2px solid lightgrey;
}

.error h1 {
  font-weight: 900;
  font-size: 3rem;
  display: inline;
}

.error-red {
  display:inline;
  color:#dc3545;
  font-size: 3.5rem!important;
  border:none!important;
}
.error p {
  font-weight: 500;
  font-size: 1.8rem;
}

.userlist-bg {
  background-color: #f0f0f0;
  margin:0;
  padding:3rem;
}

.userlist-container {
  min-height: 50vh;
  width: 50%;
  margin: 3rem auto;
  padding: 3rem;
  background-color: white;
  box-shadow: 3px 4px 5px 5px rgba(0, 0, 0, 0.1);
}

.userlist-container h1 {
  font-weight: 900;
  font-size: 3rem;
  color: #3b3b3b;
  border-bottom: 8px solid #3b3b3b;
  padding-bottom: 1rem;
  width:fit-content;
  text-align: center;
  margin:0 auto;
  margin-bottom: 3rem;
}

.userlist-item   {
  border: 2px solid lightgrey;
  display:flex;
  justify-content: space-evenly;
  color: #3b3b3b;

}

.userlist-item h2 {
  display: block;
  font-weight: 600;
  padding:2rem;
  font-size: 1.5rem;
  color:inherit;
}

.registered-date {
  margin-left: auto ;
  font-weight: 300!important;
}

.userlist-item:hover {
  color:#f57c00!important;
  border: 2px solid #f57c00;
  border-left: 8px solid #f57c00;
}


.table-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 3px solid lightgrey;
  margin: 2rem 0;
}

.table-element {
  flex-grow : 2;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding: 1.5rem;
  color: #3b3b3b;
  border-left: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
}


.postlist-bg {
  background-color: #f0f0f0;
  margin:0;
  padding:3rem;
}

.postlist-container {
  min-height: 50vh;
  width: 80%;
  margin: 3rem auto;
  padding: 3rem;
  background-color: white;
  box-shadow: 3px 4px 5px 5px rgba(0, 0, 0, 0.1);
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
}
.postlist-container h1 {
  font-weight: 900;
  font-size: 3rem;
  color: #3b3b3b;
  border-bottom: 8px solid #3b3b3b;
  padding-bottom: 1rem;
  width:fit-content;
  text-align: center;
  margin:0 auto;
  margin-bottom: 3rem;
}

.postlist-item   {
  border: 2px solid lightgrey;
  display:flex;
  flex-direction: column;
  color: #3b3b3b;
  margin:1rem 0.5rem;
  padding:1rem

}

.postlist-item h2 {
  display: block;
  font-weight: 600;
  padding:1rem;
  margin:0;
  font-size: 2rem;
  color:inherit;
}

.post-metadata {
  margin-left: auto ;
  font-weight: 300!important;
  font-size: 1.1rem!important;
  margin:0;
  padding:0!important;
}

.postlist-item:hover {
  color:#f57c00!important;
  border: 2px solid #f57c00;
  border-left: 8px solid #f57c00;
}