body {
  margin: 0;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

a {
  color:#F57C00;
  text-decoration: none;
}

a:hover {
  border-bottom :2px solid;
}

.navbar {
  width:100%;
  height:5%;
  overflow: hidden;
  background-color: #F57C00;
  padding:1rem;
  display:flex;
  flex-wrap: wrap;
}

.logo {
  font-weight: 900;
  color:white;
  text-decoration: none;
  font-size: 2rem;
}

.right-container {
  margin-left:auto;
  width:auto;
  padding:0 2rem;
  font-size: 1rem;
  font-weight: 400;
}

.right-text {
  font-size: 1.5rem;
  font-weight: 400;
  color:white;
  text-decoration: none;
  margin-right: 1rem;
}

.main {

  display: flex;
  width:100%;
  background-color: #F7F7F7;
}

.intro-container {
  text-align: center;
  /* background-color: #FF9800; */
  background: linear-gradient(to bottom, #FF9800 60%, #f7f7f7 40%);
  width: 100%;
  padding:5rem;
  height:100vh;
}

.intro {
  margin: 4rem;
}

.intro h1 {
  font-size: 4rem;
  font-weight: 900;
  border-bottom: 8px dashed;
  width: fit-content;
  padding-bottom: 3px;
  margin:0 auto;
  color:whitesmoke;
}

.intro h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color:#3b3b3b;
}

.intro-content {
  padding:3rem;
  color:#3b3b3b;
  font-weight: 300;
  font-size: 1.2rem;
  width: 50%;
  margin: 1rem auto;
  background-color: white;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.intro-content h2 {
  color:#3b3b3b;
  font-weight: 900;
  font-size: 2.5rem;
  border-bottom: 6px solid;
  width: fit-content;
  padding-bottom: 5px;
  margin: 0 auto;
}

.intro-content-text {
  width: 85%;
  margin: 3rem auto;
}

.intro-content-text p {
  margin: 1.5rem 0;
}

img {
  height:5rem;
  width:5rem;
  /* padding:1rem; */
}

.stack {
  /* display: flex;
  flex-wrap: nowrap; */
  /* width:60%; */
  /* margin: 0 auto!important; */
}